<div class="jumbotron">
<h2>Supporting LGBTQ people</h2>
<%# , Atheists & Critics of Authoritarianism/Fundamentalism %>
<p>by telling their must-hear stories</p>
​
<button type="button" class="btn btn-success"
data-toggle="button" aria-pressed="false" autocomplete="off" onclick = "window.location.href = '/about';"> Learn More </button>
​
</div>

<h2 style="text-align: center">Heroes</h2>
<br><br>
<% @people.each do |person| %>
<div class="row-fluid">
  <div class="text-center col-sm-4"">
    <div class="mx-5">
    <a href = "/people/<%=person.id%>" target="_blank">
    <i class="<%=person.picture%> fa-4x" style="color: #51cf66;"></i></a>
    <h2><%=link_to person.name, "/people/#{person.id}"%></h2>
    <p style = "font-family: 'Source Sans Pro', sans-serif;"><%=person.summary%></p>
    </div>
  </div>
</div>

<% end %>
