<h2 style="text-align: center"><%= @person.name %></h2>
<br>

<div class="row no-gutters bg-light position-relative">

  <div class="col-md-6 mb-md-0 p-md-4">
    <div style="font-size: 24px;">
      <i class="<%=@person.picture%> fa-10x" style="color: #51cf66;"></i></a>
    </div>
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h3 class="mt-0"></h3>
    <p></p>
    <a href="#" class="stretched-link"></a>
  </div>
</div>


<h2>Sources</h2>

<h3><% @person.sources.each do |source| %></h3>
<%= link_to source.name, source.url %>
<br>
<% end %>
