<h2 style="text-align: center">Search Results</h2>
<% @people.each do |person| %>
<div class="row-fluid">
  <div class="text-center col-sm-4"">
    <div class="mx-5">
    <a href = "/people/<%=person.id%>">
    <i class="<%=person.picture%> fa-4x" style="color: #51cf66;"></i></a></a>
    <h3><%=link_to person.name, "/people/#{person.id}" %></h3>
    </div>
  </div>
</div>

<% end %>
