<div class="jumbotron">
  <div style="text-align: center"><i class="fas fa-heart fa-6x" style="color: #51cf66; text-align: center;"></i></div>
  <h3 style="text-align: center">Sometimes the simple act of hearing another human’s story can change your life </h3>
  <p style="text-align: center">- Bridget Phetasy</p>
</div>
<h2>The world is so much bigger than the bubble you live in</h2>
<p>I learned this lesson the hard way. </p>
