<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      window._wq = window._wq || [];
      _wq.push({ id: "_all", onReady: function(video) {
        video.bind("pause", function() {

          analytics.track('Pause', {
            category: 'Video',
            label: `${video.name()}`
          })
        });

        video.bind("play", function() {

          analytics.track({
          event: "Play",
          properties: {
            category: 'Video',
            label: `${video.name()}`
          }
        });

        video.bind("end", function() {

          analytics.track('End', {
            category: 'Video',
            label: `${video.name()}`
          })
        });
      }});
    </script>
  </head>
  <body>

    <div class="jumbotron">
      <div style="text-align: center"><i class="fas fa-heart fa-6x" style="color: #51cf66; text-align: center;"></i></div>
      <h3 style="text-align: center">Sometimes the simple act of hearing another human’s story can change your life </h3>
      <p style="text-align: center">- Bridget Phetasy</p>
    </div>
    <h2>The world is so much bigger than the bubble you live in</h2>
    <p>I learned this lesson the hard way. </p>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">My beloved brother was taken hostage by the Islamic Republic 4 days ago in order to try and silence me. I haven’t seen him for 10 yrs bc I’m not allowed to visit my homeland and he’s not allowed to leave it. The Islamic regime has been tearing Iranian families apart for 40 years <a href="https://t.co/AVQvfNQZQm">pic.twitter.com/AVQvfNQZQm</a></p>&mdash; Masih Alinejad 🏳️ (@AlinejadMasih) <a href="https://twitter.com/AlinejadMasih/status/1177659174668394496?ref_src=twsrc%5Etfw">September 27, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="/person/<%@jimmy%>">Jimmy Bangash</a>

    <script src="https://fast.wistia.com/embed/medias/5u2fj4n23f.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_5u2fj4n23f" style="height:460px;position:relative;width:640px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/5u2fj4n23f/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>


    <script src="https://fast.wistia.com/embed/medias/hymo0ka1k6.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_embed wistia_async_hymo0ka1k6" style="height:460px;position:relative;width:640px"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/hymo0ka1k6/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div>

  </body>
</html>
