<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      window._wq = window._wq || [];
      _wq.push({ id: "_all", onReady: function(video) {
        video.bind("pause", function() {

          analytics.track('Pause', {
            category: 'Video',
            label: `${video.name()}`
          })
        });

        video.bind("play", function() {

          analytics.track({
          event: "Play",
          properties: {
            category: 'Video',
            label: `${video.name()}`
          }
        });

        video.bind("end", function() {

          analytics.track('End', {
            category: 'Video',
            label: `${video.name()}`
          })
        });
      }});
    </script>
  </head>
  <body>

    <div class="jumbotron">
      <div style="text-align: center"><i class="fas fa-heart fa-6x" style="color: #51cf66; text-align: center;"></i></div>
      <h3 style="text-align: center">Sometimes the simple act of hearing another human’s story can change your life </h3>
      <p style="text-align: center">- Bridget Phetasy</p>
    </div>

    <p style="text-align: center">To me, there is nothing more satisfying than putting myself in someone else’s shoes and seeing their perspective on how to make a positive difference in the world. Seeing resilience, courage, individuality, and goodwill in someone else motivates me to have those values in my life.</p>
    <br>
    <p style="text-align: center">I am highlighting the stories of LGBTQ people, atheists, and those affected by authoritarian regimes and/or fundamentalist groups because I believe that they do not receive enough attention in society. Their incredible stories need to be told because we all need models of true bravery.</p>
  </body>
</html>
