<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      window._wq = window._wq || [];
      _wq.push({ id: "_all", onReady: function(video) {
        video.bind("pause", function() {

          analytics.track('Pause', {
            category: 'Video',
            label: `${video.name()}`
          })
        });

        video.bind("play", function() {

          analytics.track({
          event: "Play",
          properties: {
            category: 'Video',
            label: `${video.name()}`
          }
        });

        video.bind("end", function() {

          analytics.track('End', {
            category: 'Video',
            label: `${video.name()}`
          })
        });
      }});
    </script>
  </head>
  <body>

    <div class="jumbotron">
      <div style="text-align: center"><i class="fas fa-heart fa-6x" style="color: #51cf66; text-align: center;"></i></div>
      <h3 style="text-align: center">Sometimes the simple act of hearing another human’s story can change your life </h3>
      <p style="text-align: center">- Bridget Phetasy</p>
    </div>

  </body>
</html>
