<div class="jumbotron">
  <div style="text-align: center"><i class="fas fa-heart fa-6x" style="color: #51cf66; text-align: center;"></i></div>
  <h3 style="text-align: center">Sometimes the simple act of hearing another human’s story can change your life </h3>
  <p style="text-align: center">- Bridget Phetasy</p>
</div>
<h2>The world is so much bigger than the bubble you live in</h2>
<p>I learned this lesson the hard way. </p>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">My beloved brother was taken hostage by the Islamic Republic 4 days ago in order to try and silence me. I haven’t seen him for 10 yrs bc I’m not allowed to visit my homeland and he’s not allowed to leave it. The Islamic regime has been tearing Iranian families apart for 40 years <a href="https://t.co/AVQvfNQZQm">pic.twitter.com/AVQvfNQZQm</a></p>&mdash; Masih Alinejad 🏳️ (@AlinejadMasih) <a href="https://twitter.com/AlinejadMasih/status/1177659174668394496?ref_src=twsrc%5Etfw">September 27, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div style="text-align: center">
<p>Here is what I was challenged to do:</p>
<p>Lose your religion, and see what happens</p>
<p>Kiss another guy, and see what happens</p>
<p>Change your career, and see what happens</p>
<p>Speak up for yourself, and see what happens</p>
<p>After having the courage to try something new, I discovered that the only thing holding me back was the cage that I and other people had built for myself. I am now free of fear and supersititons. </p>
<p>The world is not moved forward by people who hold on to fear of the unknown or people who think they know for sure what the future holds. </p>
<p>It is moved forward by the dreamers, who are not afraid to imagine the possibilities and make them reality. </p>

<p> That is why I made this collection of incredible stories. I encourage you to listen to the possibilities that other people were courageous enough to discover. Ponder the people who weilded fear and needlessly harmed other people. </p>
<p> Don't hold yourself back. You don't know what the future holds - nobody does.  </p>
<p> Dream away. Experiment. Wonder. Wander. Travel. Love. Enjoy. </p>
</div>
