<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-4 padding-0">
      <img src="https://user-images.githubusercontent.com/49769068/81488909-0602f300-9235-11ea-94f7-c1cd2ed5bff9.png" style="width:100%">
    </div>
    <div class="col-md-4 padding-0">
      <img src="https://user-images.githubusercontent.com/49769068/81488923-27fc7580-9235-11ea-8bb0-8024995bbfa1.png" style="width:100%">
    </div>
    <div class="col-md-4 padding-0">
      <img src="https://user-images.githubusercontent.com/49769068/81488931-49f5f800-9235-11ea-8d14-1a1b027347cd.png" style="width:100%">
    </div>
    <div class="col-md-4 padding-0">
      <br>
    </div>
    <div class="col-md-4 padding-0">
      <br>
    </div>
    <div class="col-md-4 padding-0">
      <br>
    </div>
    <div class="col-md-4 padding-0" id="full-width">
      <img src="https://user-images.githubusercontent.com/49769068/81488952-8d506680-9235-11ea-92f2-ec950684a048.png" style="width:100%">
    </div>
    <div class="col-md-4 padding-0">
      <img src="https://user-images.githubusercontent.com/49769068/81488959-ab1dcb80-9235-11ea-87a7-f821e54a9eea.png" style="width:100%">
    </div>
    <div class="col-md-4 padding-0">
      <img src="https://user-images.githubusercontent.com/49769068/81488970-c8eb3080-9235-11ea-91d2-6ae044f641bf.png" style="width:100%">
    </div>
  </div>
</div>

<%# <div id="flexbox">
  <div><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="100%" width="100%" alt=""></div>
  <div><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="100%" width="100%" alt=""></div>
  <div><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="100%" width="100%" alt=""></div>
  <div><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="100%" width="100%" alt=""></div>
</div> %>

<%# <div>
  <div><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="350" width="150" alt=""></div>
  <div><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="350" width="150" alt=""></div>
</div> %>

<%# <div class="row center no-gutters">
    <div class="col"><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" height="200" width="200" alt=""></div>
    <div class="col"><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" alt=""></div>
    <div class="col"><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" alt=""></div>
</div> %>
<%# <div class="grid-container">
  <div class="griditem22"><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" style="width:100%"></div>
  <div class="griditem22"><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" style="width:100%"></div>
  <div class="griditem22"><img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" style="width:100%"></div>
</div> %>

<%# <div class="row">
  <div class="column">
    <img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" style="width:100%">
  </div>
  <div class="column">
    <img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" style="width:100%">
  </div>
  <div class="column">
    <img src="https://user-images.githubusercontent.com/49769068/81482059-f1553980-91f9-11ea-8a42-ceb75e64bd55.png" style="width:100%">
  </div>
</div> %>
